body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

p {
  font-size: small;
  font-weight: 400;
  line-height: 1.5;
  color: #a0a0a2;
}

.container-fluid {
  padding: 5px 17%;
}

/*------ Navbar */

#header,
#cta {
  background: linear-gradient(to left, #09c6f9, #045de9);
}

.nav-container {
  background-color: #fff;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.nav-link,
.dropdown-item {
  color: black;
  font-size: 0.7rem;
  font-weight: 700;
}

/*--- Section 1 ----*/

#s1 {
  padding: 25% 0 16%;
  color: #fff;
  font-family: "poppins";
}

.s1-content {
  max-width: 39.3%;
  margin-right: 10.7%;
}

.s1-content p {
  color: #fff;
  font-weight: 300;
  font-size: small;
  line-height: 1.7;
}

.s1-content h1 {
  font-size: 3rem;
}

/*------- Title image */

.title-image {
  width: 91%;
  height: 110%;
  position: relative;
  bottom: 10%;
  left: 11%;
}

/* ----------Buttons */

button {
  font-family: "poppins";
}

.s1-content .btn {
  background-color: #fff;
  border-radius: 30px;
  font-weight: 700;
  font-size: 0.7rem;
  padding: 1% 7%;
}

.s1-content .btn:hover {
  background-color: #079df3;
  color: #fff;
  box-shadow: 0 0 20px #eee;
}

#design .btn {
  background-image: linear-gradient(
    to left,
    #00d2ff 30%,
    #3a7bd5 100%,
    #00d2ff 30%
  );
  background-size: auto 200%;
  border-radius: 30px;
  box-shadow: 0 0 20px #eee;
  color: white;
  font-weight: 700;
  font-size: 0.7rem;
  margin: 10px 0;
  padding: 2% 7%;
}

/* =====Services Section */

#services {
  padding: 10% 0;
  background-color: #fff;
}

#services i {
  border: 2px solid #9dd2f1;
  border-radius: 100%;
  color: #09b8f7;
  font-size: 1.9rem;
  margin: 16% 0;
  padding: 20px;
}

#services h4 {
  font-weight: 700;
  line-height: 2;
  font-size: 1.2rem;
}

.service-head-para {
  margin: 0 19% 5%;
}

/* ------------Design Section */

#design {
  /* background-color: #f8f9fa; */
  background-color: #faf9fe;
  padding: 12% 0;
}

.design-img {
  max-width: 100%;
}

#design h2 {
  width: 78%;
}

/* ---------- Features Section */

#features {
  padding: 12% 0;
}
.feature-boxes {
  background-color: #faf9fe;
  max-width: 32%;
}
.feature-imgs {
  max-width: 15%;
  margin: 15% 0% 6%;
}
.feature-boxes h4 {
  font-size: 1rem;
  margin-bottom: 15%;
}

/* Call to Action */
#cta,
.cta-para {
  color: #fff;
}
#cta {
  padding: 6% 0;
}
.cta-para {
  margin: 2% 0;
}
